<template>
<div class="page-control" v-bind:class="{'card-control':(type === 'card')}" v-show="totalCount>1">
  <button @click="pagePrev">
    <img src="@/assets/icon-page-prev.svg">
  </button>
  <span    
    v-bind:class="{'active':(index === activePage - 1)}"
    v-for="(page, index) in totalCount"
    :key="index" @click='pageSelect(index)'>{{index+1}}
  </span>
  <button @click="pageNext">
    <img src="@/assets/icon-page-next.svg">
  </button>
</div>
</template>

<script>
import store from '../../store'

export default {
  name: 'Pagenation',
  props: [
    'type',
    'totalCount',
    'doctorID'],
  data: () => ({
    reviewPage: 0
  }),
  methods: {
    initReviewClass (start) { 
      if(this.doctorID) {
        for (var i=0; i<this.totalCount*5; i++) {
          if(document.getElementById('doctorCard'+this.doctorID).querySelector('#reviewCard'+i)) {
            document.getElementById('doctorCard'+this.doctorID).querySelector('#reviewCard'+i).style.display = 'block'
            if(i<start*5 || i>start*5+4) {
              document.getElementById('doctorCard'+this.doctorID).querySelector('#reviewCard'+i).style.display = 'none'
            }
          }
        }
      }
    },
    initCardClass () {
      var classArray = ['profile-active', 'review-active', 'feedback-active', 'booking-active']
      store.state.searchData.forEach(function (item, index) {
        classArray.forEach(function (className) {
          if(document.getElementById('doctorCard'+index)) document.getElementById('doctorCard'+index).classList.remove(className)
        })
      })
    },
    pageSelect (selectedPage) {
      if (this.type == 'review') {
        this.reviewPage = selectedPage
        this.activePage = selectedPage + 1
        this.initReviewClass(this.reviewPage)
      }
      if (this.type == 'card') {
        store.state.currentPage = selectedPage + 1
        this.activePage = selectedPage + 1
        this.initCardClass()
        store.state.doctors = this.pageUpdate(store.state.currentPage, store.state.doctors, store.state.searchData)
      }
    },
    pagePrev () {
      if(this.type == 'review' && this.reviewPage > 0) {
        this.reviewPage -= 1
        this.activePage -= 1
        this.initReviewClass(this.reviewPage)
      }
      if(this.type == 'card' && store.state.currentPage > 1) {
        store.state.currentPage -= 1
        this.activePage -= 1
        this.initCardClass()
        store.state.doctors = this.pageUpdate(store.state.currentPage, store.state.doctors, store.state.searchData)
      }
    },
    pageNext () {
      if(this.type == 'review' && this.reviewPage < this.totalCount-1) {        
        this.reviewPage += 1
        this.activePage += 1
        this.initReviewClass(this.reviewPage)
      }
      if(this.type == 'card' && this.totalCount > store.state.currentPage) {
        store.state.currentPage += 1
        this.activePage += 1
        this.initCardClass()
        store.state.doctors = this.pageUpdate(store.state.currentPage, store.state.doctors, store.state.searchData)
      }
    },
    pageUpdate (currentPage, doctors, searchData) {
      let from = (currentPage - 1) * 5
      let to = from + 5
      doctors.splice(0, doctors.length)
      for (var i = from; i < to; i++) {
        if (searchData[i]) doctors.push(searchData[i])
      }
      return doctors
    }
  },
  computed: {
    activePage: function() {
      return store.state.currentPage
    }
  },
  mounted () {
    this.initReviewClass(this.reviewPage)
  }
}
</script>

<style lang="scss">
.page-control {
  max-width: 455px;
  margin-left: 1.07rem;
  display: flex;
  align-items: center;
  button {
    display: flex;
    margin-right: 15px;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
  }
  span {
    margin-right: 22px;
    font-family: 'Open Sans';
    font-weight: bold;
    line-height: 19px;
    font-size: 14px;
    color: #9B9B9B;
    cursor: pointer;
    &:hover {
      color: #14BEF0;
    }

    &.active {
      color: #14BEF0;
    }

    &:nth-last-child(2) {
      margin-right: 15px;
    }
  }

  &.card-control {
    margin-left: 1.87rem;

    span {
      font-size: 20px;
    }
  }
}
</style>
