<template>
  <div class="block-result">
    <div class="result-container">
      <div class="sort-bar">
        <h1>Сортировать результаты:</h1>
        <b-button-group>
          <b-button class="active" @click="handleClickSort('experience')">По стажу</b-button>
          <b-button @click="handleClickSort('price')">По цене</b-button>
          <b-button @click="handleClickSort('rating')">По рейтингу</b-button>
        </b-button-group>
      </div>
      <doctor-card
        v-bind:doctor="doctor"
        v-for="(doctor, index) in doctors" :key="'dtr-'+index"
      ></doctor-card>
    </div>
    <page-control type="card" :totalCount="Math.ceil(doctorsLength/5)"/>
    <div class="find-help">
      <p>Найдите врача всего в три клика</p>
      <p>Управлять своим медицинским обслуживанием проще, чем когда-либо прежде с Zocdoc. Просто найдите врача в своем городе и запишитесь на прием прямо сейчас! Вы можете прочитать отзывы реальных докторов от других пациентов, узнать историю и образование врача. Это просто, безопасно и бесплатно!</p>
    </div>
    
    <div class="yandex-map">
      <yandex-map
        :coords="selectedCity.coords"
        zoom="10"
        :scroll-zoom="false"
      >
        <ymap-marker
          :marker-id="index"
          marker-type="placemark"
          :coords="doctor.coords"
          :icon="{layout: 'default#image', imageHref: getMarkerIcon(doctor ? doctor.status : false), imageSize: [30, 30]}"
          v-for="(doctor, index) in doctors" :key="index"
        ></ymap-marker>
      </yandex-map>
    </div>


    <div class="overlay" id="resultOverlay" :hidden="!showLayer"></div>
  </div>
</template>

<script>
import store from '../../store'
import router from '../../router'
import WordService from '../../services/services'
import DoctorCard from './DoctorCard.vue'
import { yandexMap, ymapMarker } from 'vue-yandex-maps'
import Pagenation from './Pagenation.vue'

export default {
  name: 'ResultBlock',
  props: ['showLayer'],
  components: {
    'doctor-card': DoctorCard,
    'page-control': Pagenation,
    yandexMap,
    ymapMarker
  },
  data: () => ({
    currentSort: 0,
    markerIcon: require('@/assets/icon-location-1.svg'),
    markerSize: [],
    currentDoctorId: -1
  }),
  methods: {
    initResultContent () {
      // this.allDoctors = [...store.getters.getSearchData]
      // this.doctors = [...store.getters.getDoctors]
      
      var ymapContainer = document.getElementsByClassName('ymap-container')
      if (ymapContainer && ymapContainer.length) {
        var ymaps = ymapContainer[0].firstChild
        // if (ymaps.length > 1) {
        //   var secondYmap = ymaps[1]
        //   secondYmap.parentNode.removeChild(secondYmap)
        // }
      }
    },
    getMarkerIcon (status = false) {
      if (status) {
        return require('@/assets/icon-location-2.svg')
      } else {
        return require('@/assets/icon-location-1.svg')
      }
    },
    balloonTemplate () {
      return '<h1 class="red">Hi, everyone!</h1><p>I am here</p><img src="http://via.placeholder.com/350x150">'
    },
    setCurrentDoctorId (doctorId) {
      this.currentDoctorId = doctorId
      this.doctors.forEach(function (doctor) {
        if(doctor) {
          doctor.status = false
          if (doctor.id === doctorId) {
            doctor.status = true
          }
        }
      })
    },
    handleClickSort (filter) {
      var sortgGroup = event.target.parentElement

      sortgGroup.children[this.currentSort].classList.toggle('active')
      if (!event.target.classList.contains('active')) {
        event.target.classList.add('active')
      }

      let _doctors = [...this.doctors]
      _doctors.sort((a, b) => (a[filter] > b[filter]) ? 1 : -1)
      store.state.doctors = _doctors

      var node = event.target
      var i = 0
      while ((node = node.previousSibling) != null) {
        if (node.nodeType === 1) { ++i }
      }
      this.currentSort = i
    }
  },
  mounted () {
    this.initResultContent()
  },
  computed: {
    doctors : function() {
      return store.getters.getDoctors
    },
    allDoctors : function() {
      return store.getters.getSearchData
    },
    selectedCity : function() {
      return store.getters.getSelectedCity
    },
    doctorsLength: function() {
      return store.getters.getSearchData.length
    }
  }
}
</script>

<style lang="scss">
.block-result {
  position: relative;
  padding-left: 3.12rem;
  padding-top: 1.75rem;
  padding-bottom: 2.25rem;
  background: rgba(2, 31, 86, 0.1);
  .result-container {
    margin-top: 0.81rem;
    padding-bottom: 1.25rem;
    .sort-bar {
      margin-left: 1.87rem;
      margin-bottom: 0.87rem;
      display: flex;
      align-items: center;
      h1 {
        font-size: 1rem;
      }

      .btn-group {
        margin-left: 0.87rem;
        .btn-secondary {
          margin-right: 1.25rem;
          background: transparent;
          border: 0;
          border-radius: 2px;
          outline: 0;
          font-family: 'Montserrat';
          font-size: 1rem;
          color: #4A4A4A;
          transition: none;
          &:focus {
            box-shadow: none;
          }
          &.active {
            background: #14BEF0;
            border: 3px solid #63D2F3;
            color: white;
          }
        }
      }
    }
  }

  .find-help {
    margin-top: 0.62rem;
    margin-left: 1.87rem;
    text-align: left;
    p {
      width: 39rem;
      margin-bottom: 0.4rem;
      font-size: 0.75rem;
      &:first-child {
        font-size: 1rem;
        font-weight: bold;
        color: #021F56;
      }
    }
  }

  .yandex-map {
    position: absolute;
    top: 0;
    right: 0;
    width: 32.12rem;
    height: 82.06rem;
    // height: 100%;
    .ymap-container {
      width: 100%;
      height: 100%;
      // overflow-y: hidden;
    }
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(207, 207, 207, 0.432263) 0%, rgba(175, 175, 175, 0.0001) 100%);
  }
}
</style>
