<template>
<div class="block-find">
  <div class="header" id="findHeader">
    <h1 class="desktop">Как найти врача в три клика?</h1>
    <h1 class="mobile">Как найти врача в<br>три клика?</h1>
    <div class="description">
      <span class="desktop">В среднем каждый пациент <strong>тратит 19 часов</strong></span>
      <span class="mobile">В среднем каждый пациент <strong>тратит</strong></span>
    </div>
    <div class="description">
      <span class="desktop"><strong>на поиск</strong> и запись к врачу</span>
      <span class="mobile"><strong>19 часов и запись</strong>и запись к врачу</span>
    </div>
  </div>
  <div class="flow-box">
    <b-card title="ВЫБЕРИТЕ ДОКТОРА"
      :img-src="findDoctorIcon"
      img-alt="ВЫБЕРИТЕ ДОКТОРА"
      img-top
      tag="article"
      style="max-width: 20rem;"
      class="mb-2 find-card doctor">
      <p class="card-text">
        В профиле каждогов врача есть  самые правдивые отзывы
      </p>
      <img class="icon-next desktop" src="../../assets/icon-next.svg">
      <img class="icon-next mobile" src="../../assets/icon-next-down.svg">
    </b-card>
    <b-card title="ЗАПИШИТЕСЬ НА ПРИЕМ"
      :img-src="receptionIcon"
      img-alt="ЗАПИШИТЕСЬ НА ПРИЕМ"
      img-top
      tag="article"
      style="max-width: 20rem;"
      class="mb-2 find-card reception">
      <p class="card-text desktop">
        Позвоните в клинику где работает доктор для записи
      </p>
      <p class="card-text desktop mobile">
        Позвоните в клинику где<br>
        работает доктор для записи
      </p>
      <img class="icon-next desktop" src="../../assets/icon-next.svg">
      <img class="icon-next mobile" src="../../assets/icon-next-down.svg">
    </b-card>
    <b-card title="ОСТАВЬТЕ ОТЗЫВ"
      :img-src="reviewIcon"
      img-alt="ОСТАВЬТЕ ОТЗЫВ"
      img-top
      tag="article"
      style="max-width: 20rem;"
      class="mb-2 find-card review">
      <p class="card-text">
        Чтобы и другие могли узнавать только правду о качестве услуг
      </p>
    </b-card>
  </div>
</div>
</template>

<script>
export default {
  name: 'FindBlock',
  data: () => ({
    findDoctorIcon: require('@/assets/icon-find-doctor.svg'),
    receptionIcon: require('@/assets/icon-reception.svg'),
    reviewIcon: require('@/assets/icon-review.svg')
  })
}
</script>

<style lang="scss">
  .block-find {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    .header {
      transition: 2s;
      transform: (translate(0, -5rem));
      opacity: 0;
      .description {
        line-height: 1.4rem;
        font-size: 1.12rem;
      }

      span {
        font-size: 1.12rem;
        &.emphasis {
          font-weight: bold;
        }
      }

      &.animate {
        transform: (translate(0));
        opacity: 1;
      }
    }
    .flow-box {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      .card {
        box-shadow: 0px 8px 20px rgba(224, 224, 224, 0.5);
        align-items: center;
        margin-right: 1.25rem;
        margin-bottom: 0 !important;
        border: 0;
        border-radius: 3px;
        opacity: 0;
        .card-img-top {
          width: 7.5rem;
          margin-top: 4.87rem;
        }
        .card-body {
          padding: 0 1.44rem;
          padding-bottom: 1.44rem;
          .card-title {
            margin-top: 2.44rem;
            font-size: 0.94rem;
            font-family: 'Montserrat';
            font-weight: bold;
          }
          .card-text {
            padding: 0 1.25rem;
            color: #6A7C92;
            font-size: 0.87rem;
          }
          .icon-next {
            position: absolute;
            top: 45%;
            right: -2.375rem;
            width: 3.19rem;
            z-index: 10;
          }
        }

        &.doctor {
          transition: 2s;
          transform: translate(-65rem);
          z-index: 3;
          &.animate {
            transition: 2.5s;
          }
        }

        &.reception {
          transition: 2.2s;
          transform: translate(-41.25rem);
          z-index: 2;
          &.animate {
            transition: 2.2s;
          }
        }

        &.review {
          transition: 2.5s;
          transform: translate(-20rem);
          z-index: 1;
          &.animate {
            transition: 2s;
          }
        }

        &.animate {
          transform: translate(0);
          opacity: 1;
        }
      }
    }
  }
</style>
