<template>
<div class="block-reason">
  <div class="header" id="reasonHeader">
    <h1 class="block-title desktop">5 причин использовать 3va.co</h1>
    <h1 class="block-title mobile">5 причин<br>использовать 3va.co</h1>
    <p class="block-description desktop">Как именно повлияет наш сервис на то, как вы получаете медицинские услуги?</p>
    <p class="block-description mobile">
      Как именно повлияет наш сервис на то,<br>
      как вы получаете медицинские услуги?
    </p>
  </div>
  <div class="reasons" id="reasonBox">
    <div class="reason-group">
      <div class="card-reason first" id="reasonFirst">
        <h4>Выбор</h4>
        <p>
          У вас есть возможность выбрать специалиста в любой области медицины. Самое главное где-то рядом с работой или домом
        </p>
      </div>
      <div class="card-reason second" id="reasonSecond">
        <h4>Качество</h4>
        <p>
          Выбор рождает качество. Профили врачей обновляются и ведется оценка качества с каждым посещением врача
        </p>
      </div>
      <div class="card-reason third" id="reasonThird">
        <h4>Быстрота</h4>
        <p>
          Поиски специалиста могут добавить стресса пациенту. И чаще всего поэтому люди откладывают лечение
        </p>
      </div>
    </div>
    <div class="reason-group">
      <div class="card-reason fourth" id="reasonFourth">
        <h4>Планирование</h4>
        <p>
          Теперь вы можете планировать свое время после работы во время обеда чтобы позаботиться о своем здоровье и здоровье близких
        </p>
      </div>
      <div class="card-reason fifth" id="reasonFifth">
        <h4>Профилактика</h4>
        <p>
          Теперь нет причин откладывать здоровый образ жизни. Вы можете обратиться за консультацией к врачу чтобы услышать свой организм
        </p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'WithUsBlock',
  data: () => ({

  })
}
</script>

<style lang="scss">
  .block-reason {
    background: rgba(2, 31, 86, 0.05);
    padding-top: 5.03rem;
    padding-bottom: 5.19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 2s;
      opacity: 0;
      transform: translate(0, -5.03rem);
      p {
        width: 25.93rem;
      }

      &.animate {
        opacity: 1;
        transform: translate(0);
      }
    }
    .reasons {
      display: flex;
      flex-direction: column;
      align-items: center;
      .reason-group {
        margin-top: 3.5rem;
        display: flex;
        .card-reason {
          width: 22.56rem;
          height: 10.3rem;
          padding: 1.75rem 2.27rem;
          margin-right: 2.56rem;
          text-align: left;
          background: #FFFFFF;
          border: 0;
          box-shadow: 0px 10px 40px rgba(113, 130, 138, 0.2);
          border-radius: 3px;
          cursor: default;
          h4 {
            font-size: 1.12rem;
            font-family: 'Montserrat';
            font-weight: bold;
            color: #021F56;
          }
          p {
            width: 16.5rem;
            margin: 0;
            font-size: 0.87rem;
            color: #71828A;
          }

          &:hover {
            margin-top: -0.3rem;
            width: 23.16rem;
            height: 10.9rem;
          }

          &.first {
            transition: transform 2s, opacity 2s;
            opacity: 0;
            transform: translate(-34.56rem);
            &.animate {
              opacity: 1;
              transform: translate(0);
            }
          }

          &.second {
            transition: transform 1s, opacity 1s;
            opacity: 0;
            &.animate {
              transform: translate(0);
              opacity: 1;
            }
          }

          &.third {
            transition: transform 2s, opacity 2s;
            opacity: 0;
            transform: translate(38.56rem);
            &.animate {
              opacity: 1;
              transform: translate(0);
            }
          }

          &.fourth {
            transition: transform 2s, opacity 2s;
            opacity: 0;
            transform: translate(-46.56rem);
            &.animate {
              opacity: 1;
              transform: translate(0);
            }
          }

          &.fifth {
            transition: transform 2s, opacity 2s;
            opacity: 0;
            transform: translate(49.56rem);
            &.animate {
              opacity: 1;
              transform: translate(0);
            }
          }
        }

        &:last-child {
          margin-top: 1.94rem;
        }
      }
    }
  }
</style>
