<template>
<div class="block-question">
  <img class="icon-answer mobile" src="../../assets/block4-bg.svg" />
  <h1 id="questionHeader">Ответы на частые вопросы</h1>
  <div class="content" id="faqBox">
    <b-list-group>
      <b-list-group-item class="flex-column align-items-start" @click="handleItemClick">
        Записываться на 3va.co дороже, чем в клинике?
        <img class="icon-arrow" src="../../assets/icon-detail-arrow-down.svg" />
        <p class="answer">Нет, цены на DocDoc не отличаются от цен в клиниках. Более того, во многие клиники записаться через DocDoc даже дешевле, чем по телефону медицинского центра. Максимальная скидка до 50%!</p>
      </b-list-group-item>
      <b-list-group-item class="flex-column align-items-start" @click="handleItemClick">
        Записываться на 3va.co дороже, чем в клинике?
        <img class="icon-arrow" src="../../assets/icon-detail-arrow-down.svg" />
        <p class="answer">Нет, цены на DocDoc не отличаются от цен в клиниках. Более того, во многие клиники записаться через DocDoc даже дешевле, чем по телефону медицинского центра. Максимальная скидка до 50%!</p>
      </b-list-group-item>
      <b-list-group-item class="flex-column align-items-start" @click="handleItemClick">
        Записываться на 3va.co дороже, чем в клинике?
        <img class="icon-arrow" src="../../assets/icon-detail-arrow-down.svg" />
        <p class="answer">Нет, цены на DocDoc не отличаются от цен в клиниках. Более того, во многие клиники записаться через DocDoc даже дешевле, чем по телефону медицинского центра. Максимальная скидка до 50%!</p>
      </b-list-group-item>
      <b-list-group-item @click="handleItemClick">
        Записываться на 3va.co дороже, чем в клинике?
        <img class="icon-arrow" src="../../assets/icon-detail-arrow-down.svg" />
        <p class="answer">Нет, цены на DocDoc не отличаются от цен в клиниках. Более того, во многие клиники записаться через DocDoc даже дешевле, чем по телефону медицинского центра. Максимальная скидка до 50%!</p>
      </b-list-group-item>
    </b-list-group>
    <img class="icon-answer desktop" src="../../assets/block4-bg.svg" />
  </div>
</div>
</template>

<script>
export default {
  name: 'QuestionBlock',
  data: () => ({
    selectedQuestionItem: null
  }),
  methods: {
    setCurrentQuestion () {
      var items = document.getElementsByClassName('list-group-item')
      items[items.length - 1].classList.add('answered')
      this.selectedQuestionItem = items[items.length - 1]
      this.selectedQuestionItem.children[0].src = require('@/assets/icon-detail-arrow-up.svg')
    },
    handleItemClick () {
      var listItem = event.target
      if (!listItem.classList.contains('list-group-item')) {
        listItem = event.target.parentElement
      }

      if (this.selectedQuestionItem && this.selectedQuestionItem.classList.contains('answered')) {
        this.selectedQuestionItem.classList.remove('answered')
        this.selectedQuestionItem.children[0].src = require('@/assets/icon-detail-arrow-down.svg')
        if (listItem === this.selectedQuestionItem) {
          this.selectedQuestionItem = null
          return
        }
      }

      listItem.classList.toggle('answered')
      listItem.children[0].src = require('@/assets/icon-detail-arrow-up.svg')
      this.selectedQuestionItem = listItem
    }
  },
  mounted () {
    this.setCurrentQuestion()
  }
}
</script>

<style lang="scss">
  .block-question {
    margin-top: 6.13em;
    margin-bottom: 3rem;
    h1 {
      transition: 2s;
      opacity: 0;
      transform: translate(0, -6.13rem);
      &.animate {
        opacity: 1;
        transform: translate(0);
      }
    }

    .content {
      margin-left: 6.25rem;
      margin-top: 5.56rem;
      display: flex;
      transition: 5s;
      opacity: 0;
      .list-group {
        width: 47.5%;
        .list-group-item {
          margin: 0;
          padding: 1.69rem 0.81rem;
          padding-left: 1.2rem;
          font-family: 'Montserrat';
          font-size: 1rem;
          font-weight: 600;
          color:#021F56;
          text-align: left;
          border: 0;
          border-bottom: 0.5px solid #C7C7C7 !important;
          cursor: pointer;
          .icon-arrow {
            position: absolute;
            top: 1.69rem;
            right: 1.06rem;
            width: 0.94rem;
          }
          p.answer {
            display: none;
            margin-top: 0.85rem;
            margin-bottom: 0;
            width: 28rem;
            font-weight: normal;
            color: #4A4A4A;
          }
          &:last-child {
            border: 0 !important;
          }
          &.answered {
            .answer {
              display: block;
            }
          }
        }
      }
      .icon-answer {
        margin-left: 7.31rem;
        width: 34rem;
        height: 20.8rem;
      }
      &.animate {
        opacity: 1;
      }
    }
  }
</style>
