<template>
<div class="block-specialist">
  <div class="header" id="speicalityHeader">
    <h1 class="desktop">Cпециальности врачей</h1>
    <h1 class="mobile">Cпециальности<br>врачей</h1>
    <p class="block-description desktop">В нашей базе есть более 200 специальностей</p>
    <p class="block-description mobile">В нашей базе есть более 200<br>специальностей</p>
  </div>
  <div class="specialist-box" id="speciallistBox">
    <ul class="speicalist-list" id="leftSpeicalList">
      <li v-for="(speciality, index) in specialistLeft" :key="index">
        <p>({{speciality.doctors}})</p>
        <p class="speciality-name" @click="handleSpecialityClick(speciality.name)">{{speciality.name}}</p>
      </li>
    </ul>
    <ul class="speicalist-list" id="middleSpecialist">
      <li v-for="(speciality, index) in specialistMiddle" :key="index">
        <p>({{speciality.doctors}})</p>
        <p class="speciality-name" @click="handleSpecialityClick(speciality.name)">{{speciality.name}}</p>
      </li>
    </ul>
    <ul class="speicalist-list" id="rightSpecialist">
      <li v-for="(speciality, index) in specialistRight" :key="index">
        <p>({{speciality.doctors}})</p>
        <p class="speciality-name" @click="handleSpecialityClick(speciality.name)">{{speciality.name}}</p>
      </li>
    </ul>
    <a class="read-more mobile" id="readMoreLink" @click="handleReadMore">Смотреть еще</a>
  </div>
</div>
</template>

<script>
export default {
  name: 'SpecialistBlock',
  data: () => ({
    specialistLeft: [
      { doctors: 737, name: 'Акушер' },
      { doctors: 64, name: 'Логопед' },
      { doctors: 137, name: 'Венеролог' },
      { doctors: 111, name: 'Невролог' },
      { doctors: 18, name: 'Неонаталог' },
      { doctors: 93, name: 'Онколог' },
      { doctors: 518, name: 'Пластический хирург' },
      { doctors: 37, name: 'Инфекционист' },
      { doctors: 82, name: 'Пульманолог' },
      { doctors: 356, name: 'Кардиолог' },
      { doctors: 297, name: 'Эндокринолог' },
      { doctors: 301, name: 'Уролог' },
      { doctors: 32, name: 'Флеболог' },
      { doctors: 57, name: 'Маммолог' },
      { doctors: 112, name: 'Окулист' },
      { doctors: 227, name: 'Манульный терапевт' },
      { doctors: 85, name: 'Диетолог' },
      { doctors: 127, name: 'Остеопат' },
      { doctors: 435, name: 'Психолог' },
      { doctors: 134, name: 'Аллерголог' }
    ],
    specialistMiddle: [
      { doctors: 737, name: 'Акушер' },
      { doctors: 64, name: 'Логопед' },
      { doctors: 137, name: 'Венеролог' },
      { doctors: 111, name: 'Невролог' },
      { doctors: 18, name: 'Неонаталог' },
      { doctors: 93, name: 'Онколог' },
      { doctors: 518, name: 'Пластический хирург' },
      { doctors: 37, name: 'Инфекционист' },
      { doctors: 82, name: 'Пульманолог' },
      { doctors: 356, name: 'Кардиолог' },
      { doctors: 297, name: 'Эндокринолог' },
      { doctors: 301, name: 'Уролог' },
      { doctors: 32, name: 'Флеболог' },
      { doctors: 57, name: 'Маммолог' },
      { doctors: 112, name: 'Окулист' },
      { doctors: 227, name: 'Манульный терапевт' },
      { doctors: 85, name: 'Диетолог' },
      { doctors: 127, name: 'Остеопат' },
      { doctors: 435, name: 'Психолог' },
      { doctors: 134, name: 'Аллерголог' }
    ],
    specialistRight: [
      { doctors: 737, name: 'Акушер' },
      { doctors: 64, name: 'Логопед' },
      { doctors: 137, name: 'Венеролог' },
      { doctors: 111, name: 'Невролог' },
      { doctors: 18, name: 'Неонаталог' },
      { doctors: 93, name: 'Онколог' },
      { doctors: 518, name: 'Пластический хирург' },
      { doctors: 37, name: 'Инфекционист' },
      { doctors: 82, name: 'Пульманолог' },
      { doctors: 356, name: 'Кардиолог' },
      { doctors: 297, name: 'Эндокринолог' },
      { doctors: 301, name: 'Уролог' },
      { doctors: 32, name: 'Флеболог' },
      { doctors: 57, name: 'Маммолог' },
      { doctors: 112, name: 'Окулист' },
      { doctors: 227, name: 'Манульный терапевт' },
      { doctors: 85, name: 'Диетолог' },
      { doctors: 127, name: 'Остеопат' },
      { doctors: 435, name: 'Психолог' },
      { doctors: 134, name: 'Аллерголог' }
    ],
    currentShowIndex: 0
  }),
  methods: {
    handleSpecialityClick: function (name) {
      document.documentElement.scrollTop = 0
      document.body.scrollTop = 0
      this.$parent.setSpeicality(name)
    },
    handleReadMore () {
      this.currentShowIndex++
      var specialistGroup = document.getElementsByClassName('speicalist-list')
      if (this.currentShowIndex < specialistGroup.length) {
        specialistGroup[this.currentShowIndex].style.display = 'block'
        console.log('000', specialistGroup[this.currentShowIndex])
      }

      if (this.currentShowIndex >= specialistGroup.length - 1) {
        document.getElementById('readMoreLink').style.display = 'none'
      }
    }
  }
}
</script>

<style lang="scss">
  .block-specialist {
    $animation-delay: 0s;
    padding-bottom: 5.19rem;
    margin-top: 3.5rem;
    .header {
      transition: 2s;
      opacity: 0;
      transform: translate(0, -3.5rem);
      &.animate {
        opacity: 1;
        transform: translate(0);
      }
    }
    .specialist-box {
      display: flex;
      justify-content: center;
      margin-top: 3.44rem;
      .speicalist-list {
        list-style: none;
        margin-right: 7.9rem;
        padding: 0;
        margin-bottom: 0;
        font-size: 1rem;
        li {
          display: flex;
          transition: transform 2s, opacity 2s;
          opacity: 0;
          transform: translate(0, -1rem);
          pointer-events: none;
          p {
            text-align: right;
            width: 4rem;
            margin: 0;
            font-family: 'Montserrat';
            font-size: 1rem;
            &.speciality-name {
              margin-left: 0.37rem;
              width: auto;
              color: #00C1FF;
              &:hover {
                color: darkblue;
              }
            }
          }

          &.animate {
            cursor: pointer;
            opacity: 1;
            transform: translate(0);
            pointer-events: auto;
          }
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }
</style>
