<template>
<div id="blockContainer"
  :style="{'background-image': `url(${require('@/assets/block1-bg.svg')})`}"
  v-bind:class="{'block-search':true, 'block-header':(blockType === 'search')}">
  <h2 class="title">IIIVA</h2>
  <div v-bind:class="{'search-panel':true, 'block-header':(blockType === 'search')}">
    <div class="header" id="searchHeader" v-if="blockType === 'home'">
      <h1>Запись на прием</h1>
      <div class="second-title">
        <span class="header-white">к врачу</span>
        <span>онлайн</span>
      </div>
      <h2>Огромная база данных врачей по всей России</h2>
    </div>
    <h2 class="header-search" id="searchHeader" v-if="blockType === 'search'">Огромная база данных врачей по всей России</h2>
    <div class="search-box">
      <div class="dropdown-box" id="specialitySelectBox">
        <div class="speciality-select triva-control" id="sepcialitySearch">
          <img class="icon-search" id="iconSearch" src="../../assets/icon-search-1.svg" />
          <input
            class="speicality-input"
            type="text"
            placeholder="Введите специальность"
            value=""
            v-model="currentSpeciality"
            @focus="handleSpeicalityFocus"
            @focusout="handleSpeicalityFocusOut"
            @keyup="handleSpeicalityKeyUp" />
        </div>
        <div class="dropdown-list">
          <div
            v-for="(speciality, index) in specialities" :key="index"
            v-bind:class="{'item':true, 'active':(speciality.name === selectSpeicality)}"
            @click="handleSelectSpeciality(speciality.name)">
            <span>{{speciality.name}}</span>
            <span class="rect-active"/>
          </div>
        </div>
      </div>
      <div class="dropdown-box dropdown-city" id="citySelectBox">
      <div class="city-select triva-control">
          <img class="icon-city" id="iconCity" src="../../assets/icon-city-1.svg" />
          <span class="name-city">{{selectCity}}</span>
          <div class="arrow-box city-box" @mouseover="handleMouseOver" @mouseout="handleMouseOut"  @click="handleDropDown">
            <img class="icon-arrow" id="iconCityArrow" src="../../assets/icon-dropdown-1.svg" />
          </div>
        </div>
        <div class="dropdown-list">
          <div
            v-for="(city, index) in cities" :key="index"
            v-bind:class="{'item':true, 'active':(city.name === selectCity)}"
            @click="handleSelectCity(city)">
            <span>{{city.name}}</span>
            <span class="rect-active"/>
          </div>
        </div>
      </div>
      <div class="dropdown-box dropdown-district" id="districtSelectBox">
        <div class="district-select triva-control">
          <img class="icon-district" id="iconDistrict" src="../../assets/icon-district-1.svg" />
          <span class="name-district">{{selectDistrict}}</span>
          <div class="arrow-box" @mouseover="handleMouseOver" @mouseout="handleMouseOut" @click="handleDropDown">
            <img class="icon-arrow" id="iconDistrictArrow" src="../../assets/icon-dropdown-1.svg" />
          </div>
        </div>
        <div class="dropdown-list">
          <div
            v-for="(district, index) in districts" :key="index"
            v-bind:class="{'item':true, 'active':(district.name === selectDistrict)}"
            @click="handleSelectDistrict(district.name)">
            <span>{{district.name}}</span>
            <span class="rect-active"/>
          </div>
        </div>
      </div>
      <b-button class="button-search" @click="handleSearchClick">Поиск</b-button>
    </div>
    <ul class="popular-link">
      <li>Популярное:</li>
      <li @click="handlePopularClick('Терапевт')">Терапевт,</li>
      <li @click="handlePopularClick('Гениколог')">Гениколог,</li>
      <li @click="handlePopularClick('Педиатр')">Педиатр</li>
    </ul>
  </div>
  <!-- Draw Panel -->
  <div v-bind:class="{'draw-panel':true, 'block-header':(blockType === 'search')}">
    <div class="drawings" v-if="blockType === 'home'">
      <img class="icon-shape" id="iconShape" src="../../assets/icon-shape-bg.svg" />
      <img class="icon-interface" id="iconInterface" src="../../assets/icon-interface.svg" />
      <img class="icon-doctor" id="iconDoctor" src="../../assets/icon-doctor1.svg" />
      <img class="icon-patient" id="iconPatient" src="../../assets/icon-patient1.svg" />
      <img class="icon-plant" id="iconPlant" src="../../assets/icon-plant.png" />
      <img class="icon-clock" id="iconClock" src="../../assets/icon-clock.svg" />
      <img class="icon-lamp" id="iconLamp" src="../../assets/icon-lamp.svg" />
    </div>
  </div>
  <!-- Mobile Search Header -->
  <div class="search-header mobile">
    <a href="home">Вернуться к поиску</a>
    <p @click="handleShowMapClick">Открыть на карте</p>
  </div>
</div>
</template>

<script>
import store from '../../store'
import router from '../../router'
import WordService from '../../services/services'

export default {
  name: 'FirstBlock',
  props: ['blockType'],
  data: () => ({
    currentSpeciality: '',
    selectSpeicality: '',
    selectDistrict: 'Все районы',
    selectCity: "",
    selectCityKey: "",
    openDropDown: false,
    rawSpecialities: [],
    specialities: [],
    districts: [],
    cities: [],
    selectedCity: {},
    activeControl: null,
    searchParam: {},
    searchResult: []
  }),
  methods: {
    handleShowMapClick () {
      console.log('View on map is actived')
    },
    setCurrentSpeciality (name) {
      this.currentSpeciality = name
      this.selectSpeicality = name
      document.getElementById('sepcialitySearch').classList.remove('warn')
    },
    showSearchResultLayer (show = true) {
      if (this.blockType === 'search') {
        this.$parent.runStartSearchActions(show)
      }
    },
    handleClickBody () {
      if (this.activeControl) {
        var selectControl = this.activeControl.firstChild
        if (selectControl && selectControl.classList.contains('speciality-select')) {
          if (document.activeElement.className !== 'speicality-input') {
            this.activeControl.classList.remove('active')
            this.showSearchResultLayer(false)
            this.activeControl = null
          }
        } else {
          if (!this.openDropDown) {
            this.activeControl.classList.remove('active')
            this.showSearchResultLayer(false)
            this.activeControl.children[0].children[2].classList.remove('active')
            this.activeControl.children[0].children[2].firstChild.src = require('@/assets/icon-dropdown-1.svg')
            this.activeControl = null
          }
          this.openDropDown = false
        }
      }
    },
    getFilteredSpecialities () {
      this.specialities.length = 0
      var self = this
      if (this.currentSpeciality.length) {
        this.rawSpecialities.forEach(function (s) {
          if (s.name.toLowerCase().includes(self.currentSpeciality.toLowerCase())) {
            self.specialities.push(s)
          }
        })
      } else {
        this.rawSpecialities.forEach(function (s) {
          self.specialities.push(s)
        })
      }
    },
    handleSpeicalityFocus () {
      var imgElement = event.target.parentElement.children[0]
      imgElement.src = require('@/assets/icon-search-2.svg')
    },
    handleSpeicalityFocusOut () {
      var imgElement = event.target.parentElement.children[0]
      imgElement.src = require('@/assets/icon-search-1.svg')
    },
    handleSpeicalityKeyUp () {
      document.getElementById('sepcialitySearch').classList.remove('warn')
      document.getElementById('districtSelectBox').classList.remove('active')
      document.getElementById('citySelectBox').classList.remove('active')

      var specialitySelect = event.target.parentElement.parentElement
      if (event.key === 'Escape') {
        specialitySelect.classList.remove('active')
        this.showSearchResultLayer(false)
      } else {
        this.activeControl = specialitySelect
        this.getFilteredSpecialities()
        if (this.specialities) {
          if (this.specialities.length) {
            if (!specialitySelect.classList.contains('active')) {
              specialitySelect.classList.add('active')
              this.showSearchResultLayer()
            }
          } else {
            specialitySelect.classList.remove('active')
            this.showSearchResultLayer(false)
          }
        }
      }
    },
    handleMouseOver () {
      var dropDownBox = event.target
      if (event.target.className.includes('icon-arrow')) {
        dropDownBox = event.target.parentElement
      }
      if (!dropDownBox.classList.contains('active')) {
        var dropDownControl = dropDownBox.parentElement
        var iconImg = dropDownControl.children[0]
        if (iconImg && (iconImg.className.includes('icon-district') || iconImg.className.includes('icon-city'))) {
          if (dropDownControl.classList.contains('district-select')) {
            iconImg.src = require('@/assets/icon-district-2.svg')
          } else {
            iconImg.src = require('@/assets/icon-city-2.svg')
          }
          var iconDropDown = dropDownBox.children[0]
          if (iconDropDown) {
            iconDropDown.src = require('@/assets/icon-dropdown-2.svg')
          }
        }
      }
    },
    handleMouseOut () {
      var dropDownBox = event.target
      if (event.target.className.includes('icon-arrow')) {
        dropDownBox = event.target.parentElement
      }
      if (!dropDownBox.classList.contains('active')) {
        var dropDownControl = dropDownBox.parentElement
        var iconImg = dropDownControl.children[0]
        if (iconImg && (iconImg.className.includes('icon-district') || iconImg.className.includes('icon-city'))) {
          if (dropDownControl.classList.contains('district-select')) {
            iconImg.src = require('@/assets/icon-district-1.svg')
          } else {
            iconImg.src = require('@/assets/icon-city-1.svg')
          }
          var iconDropDown = dropDownBox.children[0]
          if (iconDropDown) {
            iconDropDown.src = require('@/assets/icon-dropdown-1.svg')
          }
        }
      }
    },
    handleSelectSpeciality (selectName) {
      this.currentSpeciality = selectName
      this.selectSpeicality = selectName
      event.target.parentElement.parentElement.classList.toggle('active')
    },
    handleDropDown () {
      var dropDownControl = event.target
      if (dropDownControl.className.includes('icon-arrow')) {
        dropDownControl = event.target.parentElement
      }
      var iconImg = dropDownControl.firstChild
      var districtSelectBox = document.getElementById('districtSelectBox')
      var citySelectBox = document.getElementById('citySelectBox')

      if (this.activeControl !== dropDownControl.parentElement.parentElement && (this.activeControl === districtSelectBox || this.activeControl === citySelectBox)) {
        this.openDropDown = false
        this.handleClickBody()
      } else {
        document.getElementById('specialitySelectBox').classList.remove('active')
        this.activeControl = null
      }

      dropDownControl.classList.toggle('active')
      dropDownControl.parentElement.parentElement.classList.toggle('active')
      if (iconImg) {
        if (dropDownControl.classList.contains('active')) {
          iconImg.src = require('@/assets/icon-dropdown-active-2.svg')
          this.activeControl = dropDownControl.parentElement.parentElement
          this.openDropDown = true
          this.showSearchResultLayer()
        } else {
          iconImg.src = require('@/assets/icon-dropdown-1.svg')
          this.activeControl = null
          this.showSearchResultLayer(false)
        }
      }
    },
    handleSelectDistrict (district) {
      store.state.selectedArea = district
      this.selectDistrict = district
      store.dispatch('getSpecialityData', {city_slug: this.selectCityKey, region_name: district}).then(() => {
        let specialityData = store.getters.getSpecialityData
        let allSpecialityData = []
        specialityData.forEach((speciality) => {
          if(speciality[0] != null) {
            let specialityArray = JSON.parse(speciality[0])
            if(specialityArray.length > 0) {
              specialityArray.forEach((_spec) => {
                if(Object.keys(_spec).length > 0) {
                  allSpecialityData.push(_spec)
                }
              })
            }
          }
        })
        this.rawSpecialities = this.getUnique(allSpecialityData, "slug")
      })
    },
    handleSelectCity (city) {
      this.selectCity = city.name
      this.selectCityKey = city.key
      store.dispatch('getAreaData', {city_slug: city.key}).then(() => {
        let areaData = store.getters.getAreaData
        this.districts = []
        areaData.forEach((area) => {
          this.districts.push({name: area[0]})
        })
        store.state.selectedCity = city
      })
    },
    handlePopularClick (name) {
      this.currentSpeciality = name
      this.selectSpeicality = name
      document.getElementById('sepcialitySearch').classList.remove('warn')
    },
    handleSearchClick () {
      let searchParam = {'city_slug': this.selectCityKey, 'region': this.selectDistrict, 'specialities': this.selectSpeicality}
      store.state.currentPage = 1
      if (this.currentSpeciality.length) {
        store.state.searchParam = searchParam
        store.dispatch('getSearchData', searchParam).then(() => {
          let searchData = [...store.getters.getSearchData]
          let allDoctors = []
          if(searchData.length > 0) {
            searchData.forEach ((_doctor, idx) => {
              let doctor = {
                id: idx,
                name: _doctor.name,
                speciality: JSON.parse(_doctor.qualification),
                service: JSON.parse(_doctor.work_experience),
                experience: _doctor.experience_year + ' лет опыта',
                price: _doctor.price,
                rating: _doctor.rate_value,
                review: _doctor.review_count,
                reviews: _doctor.reviews,
                profile: {
                  phone: _doctor.phone,
                  education: JSON.parse(_doctor.education),
                  course: JSON.parse(_doctor.serializes_in_diseases)
                },
                imgUrl: _doctor.image,
                coords: [parseFloat(_doctor.lat), parseFloat(_doctor.lng)],
                status: false
              }
              allDoctors.push(doctor)
            })
          }
          
          let from = (store.state.currentPage - 1) * 5
          let to = from + 5
          let _doctors = [...store.state.doctors]
          _doctors.splice(0, _doctors.length)
          for (var i = from; i < to; i++) {
            if(allDoctors[i]) {
              _doctors.push(allDoctors[i])
            }
          }
          _doctors.sort((a, b) => (a.experience > b.experience) ? 1 : -1)
          
          store.state.searchData = allDoctors
          store.state.doctors = _doctors
          store.state.currentPage = 1

          if (this.blockType === 'home') {
            router.push({ path: 'search' })
          } else {
            // this.$forceUpdate();
            // this.$parent.$children[1].initResultContent
            console.log('Search button is clicked!')
          }
          
        })
        
      } else {
        document.getElementById('sepcialitySearch').children[1].focus()
        document.getElementById('sepcialitySearch').classList.add('warn')
      }
    },
    startDrawingAnimation (animationIndex = 0) {
      var drawingIDs = ['iconShape', 'iconInterface', 'iconDoctor', 'iconPatient', 'iconPlant', 'iconClock', 'iconLamp']
      for (var i = 0; i < drawingIDs.length; i++) {
        document.getElementById(drawingIDs[i]).classList.add('animate')
      }
      // var self = this
      // setTimeout(function () {
      //   document.getElementById(drawingIDs[animationIndex]).classList.add('animate')
      //   if (animationIndex < drawingIDs.length - 1) {
      //     self.startDrawingAnimation(++animationIndex)
      //   }
      // }, animtaionTime)
    },
    getUnique(arr, comp) {
      const unique = arr
            .map(e => e[comp])
        .map((e, i, final) => final.indexOf(e) === i && i)
        .filter(e => arr[e]).map(e => arr[e]);
      return unique;
    }
  },
  mounted () {
    if (this.blockType === 'search') {
      document.getElementById('blockContainer').style.backgroundImage = 'url(' + require('@/assets/search-block-bg.svg') + ')'
    }

    var self = this
    document.body.addEventListener('click', this.handleClickBody)
    setTimeout(function () {
      document.getElementById('searchHeader').classList.add('animate')
      document.getElementById('iconSearch').classList.add('animate')
      document.getElementById('iconDistrict').classList.add('animate')
      document.getElementById('iconDistrictArrow').classList.add('animate')
      document.getElementById('iconCity').classList.add('animate')
      document.getElementById('iconCityArrow').classList.add('animate')
      if (self.blockType === 'home') {
        self.startDrawingAnimation()
      }
    }, 1000)

    if(Object.keys(store.state.selectedCity).length == 0 ) {
      store.dispatch('getCitiesData').then(() => {
        let cityData = store.getters.getCityData
        cityData.forEach((city) => {
          let _city = {name: city.city_name, key: city.city_slug, coords: [parseFloat(city.city_lat), parseFloat(city.city_lng)]}
          this.cities.push(_city)
        })
        this.selectCity = cityData[0].city_name
        this.selectCityKey = cityData[0].city_slug

        store.state.selectedCity = this.cities[0]

        store.dispatch('getAreaData', {city_slug: cityData[0].city_slug}).then(() => {
          let areaData = store.getters.getAreaData
          this.districts = []
          areaData.forEach((area) => {
            this.districts.push({name: area[0]})
          })
          store.state.selectedArea = this.districts[0]

          store.dispatch('getSpecialityData', {city_slug: this.selectCityKey, region_name: this.districts[0].name}).then(() => {
            let specialityData = store.getters.getSpecialityData
            let allSpecialityData = []
            specialityData.forEach((speciality) => {
              if(speciality[0] != null) {
                let specialityArray = JSON.parse(speciality[0])
                if(specialityArray.length > 0) {
                  specialityArray.forEach((_spec) => {
                    if(Object.keys(_spec).length > 0) {
                      allSpecialityData.push(_spec)
                    }
                  })
                }
              }
            })
            this.rawSpecialities = this.getUnique(allSpecialityData, "slug")
          })
        })
      })
    }else{
      store.getters.getCityData.forEach((city) => {
        let _city = {name: city.city_name, key: city.city_slug, coords: [parseFloat(city.city_lat), parseFloat(city.city_lng)]}
        this.cities.push(_city)
      })
      this.selectCity = store.state.selectedCity.name
      this.selectCityKey = store.state.selectedCity.key

      this.districts = []
      store.getters.getAreaData.forEach((area) => {
        this.districts.push({name: area[0]})
      })
      this.selectDistrict = store.state.selectedArea

      this.currentSpeciality = store.state.searchParam.specialities
      this.selectSpeicality = store.state.searchParam.specialities
    }

  }
}
</script>

<style lang="scss">
  .block-search {
    position: relative;
    width: 100%;
    height: 55.8rem;
    background-size: cover;
    display: flex;
    .title {
      position: absolute;
      left: 4.81rem;
      top: 1.5rem;
      color: white;
      font-family: 'Chalkduster';
      font-size: 2rem;
    }

    &.block-header {
      height: 17.5rem;
      justify-content: center;
    }

    .dropdown-box {
      .dropdown-list {
        display: none;
        height: 14.5rem;
        overflow-x: hidden;
        box-shadow: -5px -5px 15px rgba(240, 240, 240, 0.228148);
        border-radius: 0 0 0.19rem 0.19rem;
        text-align: left;
        color: #7C7B7C;
        z-index: 2;
        .item {
          position: relative;
          background: white;
          padding: 1rem;
          border-bottom: 0.06rem solid #DCDCDC;
          cursor: pointer;
          span {
            font-size: 0.75rem;
          }

          .rect-active {
            display: none;
            width: 0.31rem;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: #00DBAB;
          }
          &:hover {
            background: #F0F0F0;;
            color: darkgray;
          }
          &.active {
            overflow: auto;
            .rect-active {
              display: block;
            }
          }
          &:last-child {
            border-bottom: 0;
            border-radius: 0 0 0.19rem 0.19rem;
          }
        }
      }

      &.active {
        .dropdown-list {
          display: block;
        }
        .speciality-select,
        .district-select,
        .city-select {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom: 1px solid #DCDCDC;
        }
      }

      &.dropdown-district {
        margin-left: 0.63rem;
        width: 12.5rem;
      }

      &.dropdown-city {
        position: absolute;
        top: 3.12rem;
        right: 2.56rem;
        width: 13.75rem;
        .dropdown-list {
          height: 11.5rem;
          box-shadow: 0px 0px 25px rgba(240, 240, 240, 0.551347), -5px -5px 25px rgba(240, 240, 240, 0.640455);
          .item {
            padding: 0.56rem 1.12rem;
          }
        }
      }
    }

    .search-panel {
      width: 55%;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 18.62rem;
      padding-left: 7.81rem;
      padding-right: 0;
      color: #021F56;
      z-index: 6;
      .header {
        transition: 2s;
        transform: translate(-7.81rem);
        opacity: 0;
        display: flex;
        margin-bottom: 0.625rem;
        h1 {
          text-align: left;
          margin: 0;
          font-size: 2.63rem;
        }
        flex-direction: column;
        .second-title {
          display: flex;
          font-size: 2.63rem;
          font-weight: bold;
          margin-bottom: 0.56rem;
          span {
            font-family: 'Montserrat';
            font-size: 2.62rem;
          }

          .header-white {
            color: white;
            margin-right: 0.8rem;
          }
        }
        h2 {
          margin: 0;
          text-align: justify;
          color: white;
          font-size: 1.25rem;
          font-weight: normal;
        }
        &.animate {
          opacity: 1;
          transform: translate(0);
        }
      }

      &.block-header {
        width: auto;
        height: auto;
        margin: 0;
        margin-top: 5rem;
        padding: 0;
        text-align: left;

        h2 {
          margin-bottom: 0;
        }

        .search-box {
          margin-top: 0.62rem;
        }

        li {
          font-size: 0.75rem;
        }
      }

      .header-search {
        font-size: 1.25rem;
        color: white;
        font-weight: bold;
        transition: 2s;
        opacity: 0;
        transform: translate(0, -3rem);
        &.animate {
          opacity: 1;
          transform: translate(0);
        }
      }

      .search-box {
        display: flex;
        margin-top: 0.56rem;
        height: 3.13rem;
        .speciality-select {
          width: 25rem;
          height: 100%;
          .icon-search {
            height: 0.94rem;
            opacity: 0;
            &.animate {
              transition: 2s;
              opacity: 1;
            }
          }

          .speicality-input {
            width: 100%;
            height: 100%;
            border: 0;
            background: transparent;
            margin-left: 1.19rem;
            font-size: 0.75rem;
            padding-left: 0;
            padding-right: 1.1rem;
            outline: 0;
            color: #7C7B7C;
            &:focus {
              box-shadow: none;
            }
          }

          &.active {
            border-color: #80bdff;
            box-shadow: 5px 5px 15px rgba(0,123,255,.32), -5px -5px 15px rgba(0,123,255, 0.25);
          }

          &.warn {
            border: 3px solid #E6314F;
          }
        }

        .city-select {
          width: 13.75rem;
          height: 2.19rem;
          .icon-city {
            height: 0.94rem;
            opacity: 0;
            &.animate {
              transition: 2s;
              opacity: 1;
            }
          }
          .name-city {
            margin-left: 1.25rem;
            color: #7C7B7C;
            font-size: 0.75rem;
            text-align: left;
            cursor: default;
            width: 56%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .district-select {
          width: 12.5rem;
          height: 100%;
          .icon-district {
            height: 0.94rem;
            opacity: 0;
            &.animate {
              transition: 2s;
              opacity: 1;
            }
          }

          .name-district {
            margin-left: 1.25rem;
            color: #7C7B7C;
            font-size: 0.75rem;
            text-align: left;
            cursor: default;
            width: 56%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .button-search {
          margin-left: 0.63rem;
          width: 5.63rem;
          background: #00DBAB;
          color: white;
          box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.22), -5px -5px 15px rgba(255, 255, 255, 0.22) !important;
          border: 0;
          border-radius: 3px;
          font-family: 'Montserrat';
          font-weight: bold;
          &:hover {
            background: #02CA9E;
          }

          &:active {
            border: 0;
            color: lightgray;
            background: #02CA9E;
          }
        }
      }
      ul {
        list-style: none;
        display: inherit;
        padding: 0;
        color: white;
        margin-top: 0.34rem;
        z-index: -2;

        li {
          text-decoration: underline;
          margin-right: 0.31rem;
          cursor: pointer;
          font-weight: 500;
          font-size: 0.87rem;
          &:hover {
            color: #7C7B7C;
          }
        }
        li:first-child {
          font-weight: 300;
          text-decoration: none;
          cursor: default;
          &:hover {
            color: white;
          }
        }
      }
    }
    // draw pangel
    .draw-panel {
      position: relative;
      width: 45%;
      padding: 0;
      z-index: 2;
      .drawings {
        .icon-shape {
          position: absolute;
          width: 41.4rem;
          left: 3rem;
          bottom: 16.56rem;
          z-index: -2;
          opacity: 0;
          &.animate {
            transition: 2s;
            opacity: 1;
          }
        }
        .icon-interface {
          position: absolute;
          width: 25rem;
          left: 11.87rem;
          top: 8.75rem;
          z-index: -1;
          opacity: 0;
          &.animate {
            transition: 2s;
            opacity: 1;
          }
        }
        .icon-plant {
          position: absolute;
          width: 8.5rem;
          left: 0;
          bottom: 14.94rem;
          z-index: -1;
          transform: translate(-8.5rem);
          opacity: 0;
          &.animate {
            transition: 2s;
            transform: translate(0);
            opacity: 1;
          }
        }
        .icon-doctor {
          position: absolute;
          width: 14.94rem;
          left: 5.94rem;
          bottom: 15.44rem;
          z-index: 5;
          transform: translate(-5.94rem);
          opacity: 0;
          &.animate {
            transition: 2s;
            transform: translate(0);
            opacity: 1;
          }
        }
        .icon-patient {
          position: absolute;
          width: 15.8rem;
          right: 4.37rem;
          bottom: 13.62rem;
          z-index: 5;
          transform: translate(4.37rem);
          opacity: 0;
          &.animate {
            transition: 2s;
            transform: translate(0);
            opacity: 1;
          }
        }
        .icon-clock {
          position: absolute;
          width: 6.6rem;
          right: 1.25rem;
          top: 5.94rem;
          transform: translate(1.25rem);
          opacity: 0;
          &.animate {
            transition: 2s;
            transform: translate(0);
            opacity: 1;
          }
        }
        .icon-lamp {
          position: absolute;
          width: 10.55rem;
          right: 0;
          bottom: 15.94rem;
          transform: translate(10.56rem);
          opacity: 0;
          &.animate {
            transition: 2s;
            transform: translate(0);
            opacity: 1;
          }
        }
      }

      &.block-header {
        position: absolute;
        width: auto;
        top: 0;
        right: 0;

        .dropdown-city {
          top: 2.5rem;
          right: 2.81rem;
        }
      }
    }
    .arrow-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.12rem;
      height: 3.09rem;
      position: absolute;
      right: 0;
      border-radius: 0px 3px 0px 0px;
      cursor: pointer;
      .icon-arrow {
        height: 0.63rem;
        opacity: 0;
        &.animate {
          transition: 2s;
          opacity: 1;
        }
      }

      &.active {
        background: #F0F0F0;
      }

      &.city-box {
        width: 2.19rem;
        height: 2.11rem;
      }
    }
  }
</style>
