<template>
<div class="block-withus">
  <h1 class="desktop" id="withusHeader">Мы говорим спасибо всем, кто с нами!</h1>
  <h1 class="mobile" id="withusMobileHeader">
    Мы говорим<br>
    спасибо всем,<br>
    кто с нами!
  </h1>
  <div class="count" id="countBox">
    <div class="show-num">
      <p class="number">225 083</p>
      <div class="number-text" id="numberDescription">
        <p>отзыва о врачах </p>
        <p>от их пациентов</p>
      </div>
    </div>
    <div class="show-num">
      <p class="number">46 754</p>
      <div class="number-text" id="numberDescription">
        <p>врача работают </p>
        <p>по записи с 3va.co</p>
      </div>
    </div>
    <div class="show-num">
      <p class="number" id="numberDescription">3 229</p>
      <div class="number-text">
        <p>клиник принимают </p>
        <p>пациентов с 3va.co</p>
      </div>
    </div>
  </div>
  <div class="consultant" id="consultantView" :style="{'background-image': `url(${require('../../assets/block3-bg.svg')})`}">
    <img class="icon-patient" id="iconPatient2" src="../../assets/icon-patient2.svg" />
    <img class="icon-table-lamp" id="iconTableLamp" src="../../assets/icon-table-lamp.svg" />
    <img class="icon-doctor" id="iconDoctor2" src="../../assets/icon-doctor2.svg" />
    <img class="icon-lamp" id="iconLamp2" src="../../assets/icon-lamp2.svg" />
  </div>
</div>
</template>

<script>
export default {
  name: 'WithUsBlock',
  data: () => ({
    countStart: false,
    reviewMax: 225083,
    doctorMax: 46754,
    providerMax: 3229,
    reviewNum: 0,
    doctorNum: 0,
    providerNum: 0
  }),
  methods: {
    runCountAnimation () {
      if ((this.countStart && !event) || (!this.countStart && event.type === 'scroll')) {
        this.countStart = true
        if (this.reviewNum < this.reviewMax) {
          this.reviewNum++
        }
        if (this.doctorNum < this.doctorMax) {
          this.doctorNum++
        }
        if (this.providerNum < this.providerMax) {
          this.providerNum++
        }
        if (this.reviewNum < this.reviewMax || this.doctorNum < this.doctorMax || this.providerNum < this.providerMax) {
          var self = this
          setTimeout(function () {
            self.runCountAnimation()
          }, 1)
        }
      }
    }
  }
}
</script>

<style lang="scss">
  .block-withus {
    margin-top: 4.56rem;
    h1 {
      color: #00C1FF;
      font-size: 2.25rem;
      transition: 2s;
      transform: translate(0, -4.65rem);
      opacity: 0;
      &.animate {
        transform: translate(0);
        opacity: 1;
      }
    }
    .count {
      display: flex;
      margin-top: 5.5rem;
      margin-left: 17.56rem;
      transition: 5s;
      opacity: 0;
      .show-num {
        margin-right: 4.19rem;
        p {
          width: 100%;
          margin-bottom: 0;
          text-align: left;
          color: #021F56;
          &.number {
            margin-bottom: 0.4rem;
            line-height: 2.63rem;
            font-family: 'Montserrat';
            font-size: 2.63rem;
            font-weight: bold;
          }
        }
      }
      &.animate {
        opacity: 1;
      }
    }
    .consultant {
      position: relative;
      margin-top: 1.56rem;
      margin-left: 7.25rem;
      margin-right: 6.25rem;
      width: 86.87rem;
      height: 33.37rem;
      background-size: contain;
      background-repeat: 0;
      background-repeat: no-repeat;
      transition: 2s;
      opacity: 0;
      .icon-patient {
        position: absolute;
        left: 11.62rem;
        bottom: 0;
        height: 23.06rem;
        transition: 2s;
        opacity: 0;
        transform: translate(-11.62rem);
        &.animate {
          opacity: 1;
          transform: translate(0);
        }
      }
      .icon-table-lamp {
        position: absolute;
        left: -1rem;
        bottom: 0;
        height: 17rem;
        transition: 2s;
        opacity: 0;
        transform: translate(-2rem);
        &.animate {
          opacity: 1;
          transform: translate(0);
        }
      }
      .icon-doctor {
        position: absolute;
        right: 20rem;
        bottom: 0;
        height: 33rem;
        transition: 2s;
        opacity: 0;
        transform: translate(20rem);
        &.animate {
          opacity: 1;
          transform: translate(0);
        }
      }
      .icon-lamp {
        position: absolute;
        right: 1rem;
        bottom: 2rem;
        height: 38rem;
        transition: 2s;
        opacity: 0;
        transform: translate(1rem);
        &.animate {
          opacity: 1;
          transform: translate(0);
        }
      }
      &.animate {
        opacity: 1;
      }
    }
  }
</style>
