<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
@font-face {
  font-family: 'Chalkduster';
  src: url('~@/assets/fonts/Chalkduster.ttf') format 'truetype';
}

* {
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 1rem;
}

html {
  font-size: 1vw;
}

body {
  margin: 0;
  overflow-x: hidden;
}

p {
  color: #4A4A4A;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 0;
  color:#021F56;
}
h1.block-title {
  margin: 0;
  color: #00C1FF;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow-x: hidden;
}

.triva-control {
  position: relative;
  background: white;
  box-shadow: 5px 5px 15px rgba(240, 240, 240, 0.32), -5px -5px 15px rgba(240, 240, 240, 0.256992);
  display: flex;
  align-items: center;
  border-radius: 0.19rem;
  border-color: white;
  padding-left: 1.1rem;
}

.block-description {
  margin: 0;
  margin-top: 0.81rem;
  line-height: 1.4rem;
  font-size: 1.12rem;
  color: #4a4a4a;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 5vw;
  }

  .triva-control {
    padding-left: 0.75rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .block-description {
    font-size: 0.87rem;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
</style>
